<!DOCTYPE html>
<html>
<head>
    <title>Tile Estimate Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Tile Estimate Calculator</h1>
    </header>
    <main>
        <div class="calculator">
            <form action="{{ url_for('calculate') }}" method="post">
                <label for="sqft">Enter Square feet area to cover:</label>
                <input type="number" id="sqft" name="sqft" placeholder="Square feet" required>
                <button type="submit">Calculate</button>
            </form>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
